*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
.main{
	width: 1500px;
	height: 3365px;
	/*border: 3px solid black;*/
	margin: 0 auto;
	padding: 0;
}
.header{
	background-color:  #abeafa;
	max-width: 1500;
	min-width: 750;
	height: 700px;
	width: 1500px;
	display: inline-block;
	margin: 0 auto;
	/*padding: 0;*/
	/*display: block;*/
	/*border: 1px solid black;*/
}
#logo{
	margin-top: 24px;
	margin-left: 234px;
	float: left;
}
#sign_new_products{
	font-family: Roboto;
	color: #707070;
	font-size: 22px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: left;
	margin-top: 31px;
	margin-left: 25px;

}
#sign_top_products{
	font-family: Roboto;
	height: 16px;
	color: #717171;
	font-size: 22px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: left;
	/*border: 1px solid black;*/
	margin-top: 31px;
	margin-left: 28px;
	padding-bottom: 10;

}
.container{
	/*position: relative;
	z-index: 2;*/
	height: 3365px;
	background-color:  #f8f8f8;
	/*border: 1px solid black;*/

}

.banner{
	background-color:  #fff51f;
	width: 270px;
	height: 300px;
	margin-top: -64px;
	margin-left: 165px;
	clear:both;
	cursor: e-resize;
	/*float: left;*/
	/*border: 1px solid black;*/
}
.banner-text{
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	display: inline-block;
	margin-top: 82px;
	margin-right: 46px;
	margin-left: 25px;
	/*border: 1px solid black;*/
}
.banner-text-lower{
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-size: 18px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 14px; /* Приближение из-за подстановки шрифтов */
	margin-top: 24px;
	margin-right: 30px;
	margin-left: 22px;
	/*border: 1px solid black;*/
}
.social{
	/*border: 1px solid black;*/
	height: 20px;
	width: 140px;
	margin-left: 1151px;
	margin-top: 50px;
}
.head_adv{
	width: 313px;
	height: 169px;
	/*border: 1px solid black;*/
	margin-top: 173px;
	/*margin-top: 243px;*/
	margin-left: 913px;

	/*overflow: auto;*/
}
#vape_king{
	/*border: 1px solid black;*/
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	color:  #fff51f;
	font-size: 48px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 34px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	/*max-width: 313px;*/
	/*min-width: 100px;*/
}
#vape_king_lower{
	font-family: Raleway;
	color:  #fff51f;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.buy_button{
	height: 49px;
	width: 124px;
	background-color:  #fff51f;
	margin-top: 62px;
	/*text-align: justify;*/
	font-family: 'Raleway', sans-serif;
	color: #000000;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
}
.buy_button:hover{
	border: 1x #F6D25A;
	/*border-style: groove;*/
	background-color: #DFB013;
	cursor: crosshair;
}
.buy_button:active{
	padding-top: 5px;
	padding-right: 5px;
	text-shadow: 1px 1px 2px black;

}
.menu{
	position: relative;
	z-index: 4;
	background-color: #26d2fc;
	width: 270px;
	height: 475px;
	margin-top: -20px;
	margin-left: 165px;
	margin-bottom: 30px;
	/*border: 1px solid black;*/
	/*float: left;**/
}
.undermenu{
	background-color: #e0e0e0;
	width: 270px;
	height: 300px;
	/*border: 1px solid black;*/
	margin-left: 165px;

	/*clear: left;*/
	float: left;
}
.newprod{
	/*Когда убираешь бордер не забуть про значение margin-top 475*/
	position: relative;
	z-index: 3;
	background-color: #f8f8f8;
	width: 870px;
	height: 724px;
	/*border: 1px solid black;*/
	float: left;
	/*margin-top: -477px;*/
	margin-top: -808px;
	margin-left: 465px;
	padding-bottom: 10px;
	/*float: left;*/
	/*clear: both;*/
}
.topprod{
	background-color: #f8f8f8;
	width: 870px;
	height: 400px;
	margin-top: -24px;
	margin-left: 465px;
	/*border: 1px solid black;*/
	padding-top: 10;
	padding-bottom: 10;
	/*margin-top: -900px;
	margin-left: 465px;*/
}
.saleprod{
	background-color: #f8f8f8;
	width: 870px;
	height: 400px;
	margin-left: 465px;
	/*border: 1px solid black;*/
	padding-top: 10;
	padding-bottom: 10;
	/*margin-top: -900px;
	margin-left: 465px;*/
}
.block_newprod{
	position: relative;
	background-color:  #ffffff;
	width: 270px;
	height: 320px;
	float: left;
	margin-top: 25px;
}
.block_topprod{
	position: relative;
	background-color:  #ffffff;
	width: 270px;
	height: 320px;
	float: left;
	margin-top: 30px;
	padding-top: 0;
	/*border: 1px solid black;*/
}
.img_newproduct{
	color:  #eaeaea;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	z-index: 6;
}
.new-hot{
	position: absolute;
	right: 0;
	top: 0;
	}
	.brand{
		background-color: #ffffff;
		width: 1170px;
		height: 160px;
		/*border: 1px solid black;*/
		margin-top: 20px;
		margin-left: -300px;
		display: inline-block;
	}
	.brand .brand_text{
		font-family: Roboto;
		height: 16px;
		color: #717171;
		font-size: 48px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		line-height: 34px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		margin-top: 60px;
	}
	.brand:hover{
		background-color: grey;
	}
	.instafeed{
		background-color: #eaeaea;
		width: 1170px;
		height: 350px;
		/*border: 1px solid black;*/
		margin-left: -300px;
		display: inline-block;


	}
	.instafeed p{
			margin-left: 440px;
			margin-top: 54px;
			font-family: Roboto;
			color:  #333333;
			font-size: 22px;/* Приближение из-за подстановки шрифтов */
			font-weight: 900;
			font-style: italic;
			text-align: left
			line-height: 22px;
	}
	.fb_big{
		margin-left: -300px;
		float: left;
	}
	.footer{
		background-color:  #373737;
		height: 348px;
		border: 1px solid black;
		/*clear: both;*/
	}
	.clearfix {
  clear: both;
	/*border: 1px solid black;*/
	/*height: 10px;*/
	padding-top: 10px;
}
